@import '../global/mixins.scss';

/*******************************
    Testing Only
********************************/
.git--test {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  
  &-toggle {
    height: var(--size--menu-max);
    display: flex;
    align-items: center;
    font-size: var(--size--font-xs);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 15px;
    color: var(--text--primary);
  }
  &-box {
    display: none;
    position: fixed;
    left: var(--size--menu-max);
    bottom: var(--size--menu-max);
    background: var(--bg--primary);
    flex-wrap: wrap;
    gap: 5px 15px;
    padding: 10px;
    font-size: var(--size--font-xs);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text--primary);
  
    & > b {
      flex: 0 0 100%;
    }

    &.is-open {
      display: flex;
    }

    select {
      font-size: var(--size--font-md);
      font-weight: normal;
    }
  }
}

/*******************************
    Global
********************************/
body {
  font-size: var(--size--font-md);
  font-family: var(--font-body);
  margin: calc(var(--size--menu-max) + 30px);
  background-color: var(--bg--primary);
  color: var(--text--primary);

  @include mq-down(xxs) {
    margin: calc(var(--size--menu-max) + 10px);
  }

  &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--accent-2-gradient);
      background-image: 
        radial-gradient(
          farthest-side at bottom left,
          var(--accent-1-gradient), 
          transparent
        ),
        radial-gradient(
          farthest-corner at bottom right,
          var(--bg--primary), 
          transparent
        );
  }

  & > * {
      z-index: 1;
  }
}

button {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  color: var(--text--primary);
}

.modal {
  opacity: 0;
  z-index: -100;
  position: fixed;
  top: var(--size--menu-max);
  left: var(--size--menu-max);
  background: var(--bg--secondary);
  width: calc(100% - (var(--size--menu-max) * 2));
  height: calc(100vh - (var(--size--menu-max) * 2));
  padding: var(--size--menu-max);

  &.is-open {
    opacity: 100%;
    z-index: 11;
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: var(--size--font-xs);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    line-height: 100%;
    cursor: pointer;
  }
}
.input-wrap {
  input {
      display: none;
  }
}
.fancy-input {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: var(--bg--secondary);
  color: var(--text--primary);
  box-shadow: var(--style--border-to-shadow);
  border: var(--style--shadow-to-border);
  width: 16px;
  height: 16px;
  cursor: pointer;

  i {
    color: transparent;
  }

  &:hover {
    i {
      color: var(--text--accent);
    }
  }

  input:checked + & {
    background: var(--bg--accent);
    
    i {
      color: var(--text--on-accent);
    }
  }

  &.checkbox {
    border-radius: 2px;
  }

  &.radio {
    border-radius: 50%;
  }
}
.macro--header {
  color: var(--text--accent);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  max-width: max-content;
  padding: 0 30px 20px;
  grid-column: 1 / -1;

  &::after {
    content: '';
    width: 100%;
    height: 10px;
    background: var(--bg--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
  }
  
  &:not(:first-child) {
    margin-top: 20px;
  }
}
.macro--button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--bg--secondary);
  border: 1px solid var(--bg--secondary);
  width: 32px;
  height: 32px;
  border-radius: 2px;
  transition-duration: 0.3s;

  &:hover {
    background: var(--bg--primary);
    border-color: var(--text--accent);
    color: var(--text--accent);
  }
}
.pagination {
  font-size: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2px;

  a {
    font-size: var(--size--font-md);
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--bg--secondary);
    border: 1px solid var(--bg--secondary);
    border-radius: 2px;
    color: var(--text--primary);
    transition-duration: 0.3s;

    &:hover {
      color: var(--text--accent);
      border-color: var(--text--accent);
    }
  }

  .pagination_pagetxt a,
  &_last {
    width: 64px !important;
  }

  &_current {
    font-size: var(--size--font-md);
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text--accent);
    border-radius: 2px;
  }
}
.goto-firstunread {
  text-transform: uppercase;
  font-size: var(--size--font-xs);
  letter-spacing: 0.15em;

  a {
    color: var(--text--primary);
  }
}
#mark-as-read-subto,
#delcookiesrow {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--size--font-sm);
  letter-spacing: 0.1em;

  a {
    font-weight: 900;
  }
}
.copyright {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--size--font-xs);
  letter-spacing: 0.15em;
  line-height: 200%;

  a {
    font-weight: 900;
  }
}

input,
select {
  background: var(--bg--secondary);
  color: var(--text--primary);
  border: 1px solid var(--border--primary);
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: var(--size--font-sm);
  padding: 10px;
  line-height: 100%;
  margin: 0 2.5px;

  &:hover {
    background: var(--bg--secondary);
    border-color: var(--text--accent);
    color: var(--text--accent);
  }

  &[type="button"],
  &[type="submit"] {
    cursor: pointer;
  }
}
main {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    font-weight: 900;
    text-transform: lowercase;
    letter-spacing: -0.05em;
    color: var(--text--accent-alt);
  
    i {
      font-family: var(--font-head);
      color: var(--text--accent);
      letter-spacing: -0.1em;
      margin-right: -0.05em;
      font-size: 0.8em;
    }
  }
  h1,
  .h1 {
    @include fluid-type(30, 60, 480, 1440);
  }
  h2,
  .h2 {
    @include fluid-type(26, 50, 480, 1440);
  }
  h3,
  .h3 {
    @include fluid-type(18, 32, 480, 1440);
  }
  h4,
  .h4,
  h5,
  .h5 {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--text--primary);
  
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 4px;
        background: var(--bg--accent);
        border-radius: 1.5px;
    }
  }
  h4,
  .h4 {
    font-size: var(--size--font-lg);
      padding-bottom: 5px;
  
      &::after {
          width: 50px;
          height: 4px;
          border-radius: 1.5px;
      }
  }
  h5,
  .h5 {
    font-size: var(--size--font-md);
    letter-spacing: 0.05em;
  
    &::after {
        width: 35px;
        height: 2px;
        border-radius: 1px;
    }
  }
  h6,
  .h6 {
    max-width: 300px;
    text-transform: uppercase;
    font-size: var(--size--font-xs);
    text-align: justify;
    line-height: 200%;
    letter-spacing: 0.05em;
    border-left: 1px solid var(--bg--accent-alt);
    padding: 5px 10px;
  }

  blockquote {
    background: var(--accent-1-gradient-low);
    border: 1px solid var(--accent-1);
    padding: 10px 15px;
    max-width: 500px;
    margin: 0 auto;
    font-size: calc(var(--size--font-sm) + 1px);
    line-height: 200%;
    border-radius: 2px;
  }
}
u {
  text-decoration: none;
  border-bottom: 1px solid var(--text--accent);
  padding: 1px 2px;text-decoration-color: var(--text--accent);
}
i {
  font-weight: 600;
  color: var(--text--accent);
}
b {
  font-weight: 800;
  color: var(--text--accent);
  font-size: 1.1em;
}
a {
  font-weight: 700;
  color: var(--text--accent);
}

.ph,
.ph-bold,
.ph-thin,
.ph-light,
.ph-fill,
.ph-duotone {
  color: inherit;
}



#loading {
  position: fixed;
  top: var(--size--menu-max);
  left: var(--size--menu-max);
  width: 100%;
  height: calc(100vh - (2 * var(--size--menu-max)));
  background: var(--bg--secondary);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  i {
    font-size: 50px;
    color: var(--text--accent);
  }

  p {
    font-weight: 900;
    text-transform: uppercase;
    font-size: var(--size--font-xl);
  }
}

body:not(.g-4) .staffOnly,
body:not(.g-2) .guestOnly,
body.g-2 .memOnly,
.hidden {
  display: none !important;
}