@import '../global/mixins.scss';

/*******************************
    Utilities
********************************/
.scroll {
  overflow: auto;
  padding-right: 10px;
  scrollbar-color: var(--border--primary) transparent;
  scrollbar-width: thin;
}