@import '../global/mixins.scss';

/*******************************
    Utilities
********************************/
.scroll {
  overflow: auto;
  padding-right: 10px;
  scrollbar-color: var(--border--primary) transparent;
  scrollbar-width: thin;
}

[data-type="flex"] {
  display: flex;
  flex-wrap: wrap;
}

[data-type="grid"] {
  display: grid;
  gap: 10px 15px;

  .fullWidth {
    grid-column: 1 / -1;
  }

  &[data-columns="2"] {
    grid-template-columns: repeat(2, 1fr);

    @include mq-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &[data-columns="3"] {
    grid-template-columns: repeat(3, 1fr);

    @include mq-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &[data-columns="4"] {
    grid-template-columns: repeat(4, 1fr);

    @include mq-down(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &[data-columns="5"] {
    grid-template-columns: repeat(5, 1fr);

    @include mq-down(xl) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mq-down(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

[data-gap="xs"] {
  gap: 5px 5px;
}
[data-gap="sm"] {
  gap: 10px 10px;
}
[data-gap="md"] {
  gap: 10px 15px;
}
[data-gap="md-even"] {
  gap: 15px;
}
[data-gap="lg"] {
  gap: 15px 30px;
}
[data-gap="lg-even"] {
  gap: 30px;
}
[data-gap="xl"] {
  gap: 30px 60px;
}
[data-gap="xl-even"] {
  gap: 60px;
}

[data-align="left"] {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}
[data-align="center"] {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
[data-align="right"] {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}
[data-align="left"] {
  text-align: justify;
}