/*******************************
    Variables
********************************/
:root {
    --font-body: 'Inter', sans-serif;
    --font-head: 'Noto Serif', serif;

    --size--font-xs: 8px;
    --size--font-sm: 10px;
    --size--font-md: 12px;
    --size--font-lg: 14px;
    --size--font-xl: 16px;

    --size--menu-max: 30px;
    --size--menu-width: 250px;
    --size--corner-cut: 20px;

    --style--cut-corners: polygon(var(--size--corner-cut) 0, 100% 0, 100% calc(100% - var(--size--corner-cut)), calc(100% - var(--size--corner-cut)) 100%, 0 100%, 0 var(--size--corner-cut));

    --hex-1: #377fb0;
    --hex-2: #a16f38;
    --rgb-1: 55, 127, 176;
    --rgb-2: 161, 111, 56;
    --opacity--bg-gradient: 0.5;

    --white: rgb(245, 245, 245);
    --offwhite: rgb(235, 235, 235);
    --grey-xlight: rgb(215, 215, 215);
    --grey-light: rgb(200, 200, 200);
    --grey-medium: rgb(175, 175, 175);
    --grey-mdark: rgb(140, 140, 140);
    --grey-dark: rgb(100, 100, 100);
    --grey-xdark: rgb(65, 65, 65);
    --offblack: rgb(37, 37, 37);
    --black: rgb(25, 25, 25);
    --black-25: rgba(25, 25, 25, 0.25);

    //lightmode default
    --bg--primary: var(--white);
    --bg--secondary: var(--offwhite);

    --border--primary: var(--grey-light);
    --border--secondary: var(--grey-medium);

    --shadow--drop-primary: drop-shadow(0px 0px 4px var(--black-25));

    --text--primary: var(--grey-xdark);
    --text--red: #ca4747;
    --text--on-accent: var(--white);
    --text--inverse: var(--white);

    --filter--image: none;
    --filter--forum-image: grayscale(0.3) brightness(1.2) contrast(0.8) opacity(0.7);
    --filter--forum-image-new: grayscale(0.3) brightness(1.2) contrast(0.8) opacity(1);

    --style--border-to-shadow: 0 0 2px var(--black-25);
    --style--shadow-to-border: 1px solid var(--bg--secondary);
}

body {
    //Set colors for group override
    --accent-1: var(--hex-1);
    --accent-2: var(--hex-2);
    --accent-1-gradient: rgba(var(--rgb-1), var(--opacity--bg-gradient));
    --accent-2-gradient: rgba(var(--rgb-2), var(--opacity--bg-gradient));
    --bg--accent: var(--accent-1);
    --bg--accent-alt: var(--accent-2);
    --text--accent: var(--accent-2);
    --text--accent-alt: var(--accent-1);
    --style--text-shadow: 0 0 5px var(--bg--primary);
    --style--text-shadow-sm: 0 0 3px var(--bg--primary), 0 0 5px var(--bg--primary);

    &.kinetic,
    .kinetic,
    &.g-6,
    .g-6 {
        --hex-1: #d1b06a;
        --hex-2: #7cc176;
        --rgb-1: 209, 176, 106;
        --rgb-2: 124, 193, 118;
        --opacity--bg-gradient: 0.5;
        --text--on-accent: var(--grey-xdark);
    }
    &.psychic,
    .psychic,
    &.g-7,
    .g-7 {
        --hex-1: #e861de;
        --hex-2: #47a1a7;
        --rgb-1: 232, 97, 222;
        --rgb-2: 71, 161, 167;
        --opacity--bg-gradient: 0.3;
        --bg--accent: var(--accent-2);
        --bg--accent-alt: var(--accent-1);
        --text--on-accent: var(--white);
    }
    &.enhanced,
    .enhanced,
    &.g-8,
    .g-8 {
        --hex-1: #ff8585;
        --hex-2: #c2b04a;
        --rgb-1: 255, 133, 133;
        --rgb-2: 194, 176, 74;
        --opacity--bg-gradient: 0.4;
        --text--on-accent: var(--grey-xdark);
    }
    &.summoning,
    .summoning,
    &.g-9,
    .g-9 {
        --hex-1: #7570cb;
        --hex-2: #23395d;
        --rgb-1: 117, 112, 203;
        --rgb-2: 35, 57, 93;
        --opacity--bg-gradient: 0.3;
        --text--on-accent: var(--white);
    }
    &.mutation,
    .mutation,
    &.g-10,
    .g-10 {
        --hex-1: #52db8e;
        --hex-2: #cc7dc8;
        --rgb-1: 82, 219, 142;
        --rgb-2: 204, 125, 200;
        --opacity--bg-gradient: 0.5;
        --text--on-accent: var(--grey-xdark);
    }
    &.alchemical,
    .alchemical,
    &.g-11,
    .g-11 {
        --hex-1: #a35865;
        --hex-2: #b076cc;
        --rgb-1: 163, 88, 101;
        --rgb-2: 176, 118, 204;
        --opacity--bg-gradient: 0.4;
        --text--on-accent: var(--white);
    }
    &.admin,
    .admin,
    &.g-4,
    .g-4 {
        --hex-1: #ffc0cb;
        --hex-2: #9077b5;
        --rgb-1: 255, 192, 203;
        --rgb-2: 144, 119, 181;
        --opacity--bg-gradient: 0.5;
        --text--on-accent: var(--grey-xdark);
    }

    &.lgFont {
        --size--font-xs: 10px;
        --size--font-sm: 12px;
        --size--font-md: 14px;
        --size--font-lg: 16px;
        --size--font-xl: 18px;
    }

    &.dark {
        --opacity--bg-gradient: 0.3;

        --bg--primary: var(--black);
        --bg--secondary: var(--offblack);
    
        --border--primary: var(--grey-xdark);
        --border--secondary: var(--grey-dark);

        --shadow--drop-primary: drop-shadow(0px 0px 4px var(--black));
    
        --text--primary: var(--grey-medium);
        --text--inverse: var(--black);

        --filter--image: brightness(0.7) contrast(1.2);
        --filter--forum-image: grayscale(0.6) brightness(0.8) contrast(1.2) opacity(0.6);
        --filter--forum-image-new: grayscale(0.6) brightness(0.8) contrast(1.2) opacity(1);

        --style--border-to-shadow: none;
        --style--shadow-to-border: 1px solid var(--border--primary);

        &.kinetic,
        .kinetic,
        &.g-6,
        .g-6 {
            --opacity--bg-gradient: 0.3;
        }
        &.psychic,
        .psychic,
        &.g-7,
        .g-7 {
            --opacity--bg-gradient: 0.3;
        }
        &.enhanced,
        .enhanced,
        &.g-8,
        .g-8 {
            --opacity--bg-gradient: 0.3;
        }
        &.summoning,
        .summoning,
        &.g-9,
        .g-9 {
            --opacity--bg-gradient: 0.4;
        }
        &.mutation,
        .mutation,
        &.g-10,
        .g-10 {
            --opacity--bg-gradient: 0.2;
        }
        &.alchemical,
        .alchemical,
        &.g-11,
        .g-11 {
            --opacity--bg-gradient: 0.3;
        }
        &.admin,
        .admin,
        &.g-4,
        .g-4 {
            --opacity--bg-gradient: 0.3;
        }
    }
}