<a name="top"></a>
<div class="invisibleEl"></div>
<header>
    <a href="@@prefix/public/index.html"><h1><i>Coast</i>line</h1></a>
    <p>a slice of life & powers rp</p>
    <div class="info" data-type="grid" data-columns="2" data-gap="lg">
        <div class="info--panel">
            <b>welcome</b> writers must be <u>18+</u> to join coastline. please register with your character's first and last name in all <u>uppercase</u> letters, and join our discord so you won't miss any announcements!
        </div>
        <div class="info--panel">
            <b>current date: 09/23</b> weather in bellingham currently is moderately chilly, humid but cool, with average highs of <u>59°F (15°C)</u> and lows of <u>45°F (7°C)</u>.
        </div>
    </div>
</header>