
<div data-modal-box="switch" class="modal">
	<div class="modal--close">close</div>
	<div id="account-switch">
        <span id='subaccounts_menu'>
        <form action='https://coves.jcink.net/index.php?&act=Login&CODE=01&CookieDate=1' name='subswitch' method='POST'>
        <input type='hidden' name='auth_key' value='8edb8fcbc900e0d57613fec89cd6796c'>
        <input type='hidden' name='UserName' value='subacct'>
        <input type='hidden' name='PassWord' value='subacct'>
        <input type='hidden' name='referer' value='' />
        <select class='forminput' name='sub_id' onchange='this.form.submit()'>
        <option value='------------' selected='selected'>Switch Account</option>
        <option value='1'>&nbsp;&nbsp;&raquo; first last </option><option value='2'>&nbsp;&nbsp;&raquo; first last </option><option value='3'>&nbsp;&nbsp;&raquo; first last </option><option value='4'>&nbsp;&nbsp;&raquo; first last </option>
        </select>
        </form>
        </span>
    </div>
</div>
<div id="quick-login-clip" data-modal-box="login" class="modal">
	<div class="modal--close">close</div>
</div>

<script src="@@prefix/js/functions.js"></script>
<script src="@@prefix/js/scripts.js"></script>
<a name="bottom"></a>