@import '../global/mixins.scss';

/*******************************
    Header
********************************/
header {
    body:not(#idx) > & {
        display: none;
    }

    min-height: calc(100vh - (var(--size--menu-max) * 3));
    padding-bottom: var(--size--menu-max);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        @include fluid-type(50, 140, 480, 1920);
        text-transform: lowercase;
        font-weight: 900;
        letter-spacing: -0.05em;
        color: var(--text--accent-alt);
        text-shadow: var(--style--text-shadow);
        margin: 0;
        line-height: 100%;

        i {
            font-family: var(--font-head);
            letter-spacing: -0.1em;
            margin-right: -0.2em;
            color: var(--text--accent);
        }
    }

    p {
        background: var(--bg--primary);
        font-size: var(--size--font-xs);
        letter-spacing: 0.2em;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 15px;
        border-radius: 2px;
    }
}



.info {
    max-width: 750px;
    margin-top: 30px;

    &--panel {
        text-align: justify;
        line-height: 160%;
        padding: 10px 15px;
        font-size: var(--size--font-sm);
        letter-spacing: 0.1em;

        & > b,
        .scroll > b {
            font-family: var(--font-head);
            font-size: 1.6em;
            font-weight: 900;
            font-style: italic;
            align-items: center;
            float: left;
            display: flex;
            color: var(--text--inverse);
            line-height: 100%;
            letter-spacing: 0;
            color: var(--text--accent);
            text-shadow: var(--style--text-shadow-sm);

            &::after {
                content: '';
                width: 20px;
                height: 1px;
                background: var(--text--primary);
                display: inline-block;
                margin: 3px 10px 0;
            }
        }
    }
}

.announce {
    display: none;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100% + 60px);
    background: var(--bg--secondary);
    padding: 7px 10px 7px var(--size--menu-max);
    gap: 30px;
    justify-content: space-between;
    line-height: 120%;

    @include mq-down(xs) {
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        gap: 15px;
    }

    &.is-visible {
        display: flex;
    }

    p {
        background: none;
        padding: 0;
        margin: 0;

        b {
            color: var(--text--accent);
            font-size: var(--size--font-md);
            letter-spacing: 0;
            bottom: calc((var(--size--font-md) - var(--size--font-xs)) / -4);
            padding-right: 5px;
        }
    }

    &--close {
        height: max-content;
    }
}