@import '../global/mixins.scss';

/*******************************
    Member List
********************************/
.ml {
    margin: -30px;
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    grid-template-rows: max-content max-content;

    @include mq-up(sm) {
        grid-template-columns: 250px auto;
        grid-template-rows: calc(100vh - (2 * var(--size--menu-max)));
        height: calc(100vh - (2 * var(--size--menu-max)));
    }
  
    @include mq-down(xxs) {
      margin: -10px;
    }

    &--menu {
        background: var(--bg--secondary);
        border: 1px solid var(--border--primary);

        #quicksearch {
            width: calc(100% - 30px);
            background: var(--bg--primary);
            outline: none;
            margin: 15px;
        }

        .accordion {
            border-top: 1px solid var(--border--primary);

            &--content {
                transition-duration: 0s;
            }
        }
    }

    &--filter-group {
        font-size: 0;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        label {
            text-transform: uppercase;
            font-size: var(--size--font-xs);
            letter-spacing: 0.15em;
            font-weight: 600;
            padding: 5px 8px;
            background: var(--bg--primary);
            border: 1px solid var(--border--primary);
            border-radius: 2px;
            line-height: 160%;
            cursor: pointer;

            input {
                display: none;
            }

            &.is-checked {
                background: var(--bg--secondary);
                border-color: var(--text--accent);
                color: var(--text--accent);
                font-weight: 800;
            }
        }
    }

    &--sort-buttons {
        font-size: 0;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        button {
            text-transform: uppercase;
            font-size: var(--size--font-xs);
            letter-spacing: 0.15em;
            font-weight: 600;
            padding: 5px 8px;
            background: var(--bg--primary);
            border: 1px solid var(--border--primary);
            border-radius: 2px;
            line-height: 160%;
            cursor: pointer;

            &.is-checked {
                background: var(--bg--secondary);
                border-color: var(--text--accent);
                color: var(--text--accent);
                font-weight: 800;
            }
        }
    }

    #ml--rows {
        margin: 30px;

        @include mq-down(xxs) {
            margin: 10px;
        }
    }

    &--member {
        filter: var(--shadow--drop-primary);
    }

    .scroll {
        height: 100%;
        padding: 0;
    }

    & ~ * {
        display: none;
    }
}
.mem {
    clip-path: var(--style--cut-corners-alt);
    background: var(--bg--primary);
    display: grid;
    grid-template-columns: 150px auto;
    margin-bottom: 30px;

    @include mq-down(xxs) {
        margin-bottom: 10px;
    }

    &--image {
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &--main {
        padding: 15px;
        display: grid;
        gap: 15px;
        
        @include mq-up(xs) {
            grid-template-columns: 1fr 1fr;
        }

        @include mq-up(sm) {
            grid-template-columns: 1fr;
        }
        
        @include mq-up(xl) {
            grid-template-columns: 1fr 1fr;
        }

        & > a {
            @include fluid-type(18, 24, 480, 1920);
            display: block;
            text-transform: uppercase;
            font-weight: 900;
            color: var(--text--primary);
            letter-spacing: 0.05em;
            line-height: 120%;
            padding-bottom: 10px;
            grid-column: 1 / -1;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 4px;
                background: var(--bg--accent);
                border-radius: 1.5px;
            }
        }
    }

    &--item {
        text-transform: uppercase;
        font-size: var(--size--font-xs);
        letter-spacing: 0.1em;
        display: flex;
        flex-direction: column;
        line-height: 160%;

        strong {
            font-size: var(--size--font-sm);
            font-weight: 800;
            letter-spacing: 0;
            line-height: 160%;
        }

        a {
            color: var(--text--primary);
            font-weight: normal;
        }

        &:last-of-type {
            grid-column: 1 / -1;
        }
    }

    &--links {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 2;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--bg--primary);
            border: 1px solid var(--bg--primary);
            width: 26px;
            height: 26px;
            color: var(--text--primary);

            &:hover {
                border-color: var(--border--primary);
                color: var(--text--accent);
            }
        }
    }
}


.grid-sizer,
.grid-item {
    width: calc(100%);

    @include mq-up(md) {
        width: calc(50% - (30px / 2));
    }
}