@import '../global/mixins.scss';

/*******************************
    Post Row
********************************/
#ST {
    .maintitle {
        display: grid;
        padding: 20px 20px 20px 30px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 100%;
            background: var(--bg--primary);
            border-radius: 2px;
        }

        .topic-title-space {
            display: none;
        }

        .topic-title {
            color: var(--text--accent);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 30px;
            line-height: 160%;
        }

        .topic-desc {
            font-size: var(--size--font-sm);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            padding-left: 2px;
        }
    }

    .postlinksbar {
        filter: var(--shadow--drop-primary);
        margin: 20px 0;
    
        strong {
            display: flex;
            justify-content: center;
            gap: 5px;
            clip-path: var(--style--cut-corners-alt);
            background: var(--bg--primary);
            padding: 10px 20px;
            font-size: 0;

            a {
                background: var(--bg--secondary);
                border: 1px solid var(--bg--secondary);
                color: var(--text--primary);
                font-size: var(--size--font-sm);
                text-transform: uppercase;
                padding: 0 10px;

                &:hover {
                    background: var(--bg--primary);
                    color: var(--text--accent);
                    border-color: var(--text--accent);
                }
            }
        }
    }
    .activeuser {
        &--info {
            clip-path: var(--style--cut-corners);
            background: var(--bg--primary);
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-size: var(--size--font-xs);
            font-weight: 600;
            text-align: center;
            padding: 10px;
        }
    
        &--wrap {
           filter: var(--shadow--drop-primary);
        }
    }
}
.post {
    filter: var(--shadow--drop-primary);
    margin: 20px 0;

    &--wrap {
        display: grid;
        clip-path: var(--style--cut-corners-large-alt);
        background: var(--bg--primary);

        @include mq-up(xs) {
            grid-template-columns: auto calc(var(--size--avatar-width) + 20px);
        }
    }

    &--header {
        order: 1;
        grid-column: 1 / -1;
        background: var(--bg--secondary);
        border-bottom: 1px solid var(--border--primary);
        padding: 20px;
        display: grid;
        grid-template-columns: 16px auto;
        gap: 20px;
        align-items: center;

        @include mq-up(xs) {
            grid-template-columns: 16px 65px auto;
        }

        @include mq-up(sm) {
            grid-template-columns: 16px 125px auto;
        }

        img {
            width: 65px;
            height: 65px;
            border-radius: 2px;
            clip-path: var(--style--cut-corners-small-alt);

            @include mq-up(sm) {
                width: 125px;
                height: 125px;
                clip-path: var(--style--cut-corners-alt);
            }
        }

        .fancy-input {
            background: var(--bg--primary);
        }

        &-info {
            display: grid;
            gap: 5px;
            text-transform: uppercase;
            grid-column: 1 / -1;

            @include mq-up(xs) {
                grid-column: auto;
            }

            span {
                font-size: var(--size--font-xs);
                letter-spacing: 0.15em;
                font-weight: 700;
                line-height: 160%;
            }

            & > a {
                @include fluid-type(24, 36, 600, 1920);
                font-weight: 900;
                line-height: 100%;
            }
        }
    }
    &--links {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 15px;
        font-size: var(--size--font-xs);
        letter-spacing: 0.15em;
        font-weight: 700;
        line-height: 160%;

        a {
            color: var(--text--primary);
        }
    }

    &--main {
        order: 3;
        padding: 10px;
        border-top: 1px solid var(--border--primary);

        @include mq-up(xs) {
            order: 2;
            border-top: 0;
            padding: 30px;
        }

        @include mq-up(md) {
            padding: 50px;
        }

        .postcolor {
            margin: 0 auto;
            max-width: 600px;
            text-align: justify;
            font-size: calc(var(--size--font-md) + 1px);
            line-height: 200%;
        }
    }

    &--aside {
        border-left: 1px solid var(--border--primary);
        order: 2;

        @include mq-up(xs) {
            order: 3;
            margin-bottom: -1px;
        }

        .accordion {
            position: sticky;
            top: 95px;

            &--content {
                &.is-open {
                    height: calc(var(--size--avatar-height) + 20px);
                }
            }
        
            &--inner {
                height: var(--size--avatar-height);
                width: var(--size--avatar-width);

                & > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &.scroll {
                    margin: 15px;
                    width: calc(var(--size--avatar-width) - 10px);

                    @include mq-down(xs) {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        align-items: start;
                    }

                    @include mq-down(xxs) {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }

                &:not(.scroll) {
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 70%;
                        background: linear-gradient(to top, var(--black), transparent);
                        z-index: 1;

                        @include mq-up(xs) {
                            height: 30%;
                        }
                    }
                }
            }
        }

        &-links {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: center;
            gap: 10px;
            z-index: 2;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--bg--primary);
                border: 1px solid var(--bg--primary);
                width: 26px;
                height: 26px;

                &:hover {
                    border-color: var(--border--primary);
                }
            }
        }
    }

    &--item {
        display: grid;
        font-size: var(--size--font-xs);
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: 600;
        line-height: 160%;
        gap: 5px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        strong {
            font-size: var(--size--font-xl);
            text-transform: uppercase;
            font-weight: 900;
            color: var(--text--accent);
            letter-spacing: 0.05em;
            line-height: 160%;
            padding-bottom: 5px;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 4px;
                background: var(--bg--accent);
                border-radius: 1.5px;
            }
        }

        .awards,
        .avoid {
            margin-top: 2px;
            padding: 10px;
            background: var(--bg--secondary);
            clip-path: var(--style--cut-corners-small);

            .scroll {
                display: block;
                max-height: 70px;
            }
        }
        .avoid {
            .scroll {
                text-align: justify;
            }
        }
        .awards {
            .scroll {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                img {
                    width: 22px;
                    height: 22px;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }

    &--bottom {
        order: 4;
        grid-column: 1 / -1;
        background: var(--bg--secondary);
        border-top: 1px solid var(--border--primary);
        font-size: var(--size--font-xs);
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: 600;
        display: flex;
        justify-content: end;
        gap: 5px 15px;
        flex-wrap: wrap;
        padding: 3px 10px 3px 50px;

        .staffOnly {
            flex-grow: 1;
        }
    }
}