@import '../global/mixins.scss';

/*******************************
    Profile
********************************/
#Profile {
    margin: var(--size--menu-max);
}

.profile {
    display: grid;
    min-height: calc(100vh - (2 * var(--size--menu-max)));

    @include mq-up(xs) {
        grid-template-columns: calc(var(--size--avatar-width) + 20px) auto;
    }

    &--aside {
        background: var(--bg--secondary);
        border: 1px solid var(--border--primary);

        &-inner {
            padding: 10px;
            background: var(--bg--primary);
            height: calc(var(--size--avatar-height) + 20px);
        }
    }

    &--menu {
        a {
            background: var(--bg--secondary);
            font-size: var(--size--font-sm);
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            padding: 8px 15px;
            border-bottom: 1px solid var(--border--primary);
            display: flex;
            align-items: center;
            gap: 10px;
            transition-duration: 0.3s;
            color: var(--text--primary);
    
            b {
                font-size: 20px;
                font-weight: 900;
                letter-spacing: 0;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: radial-gradient(circle at left, var(--accent-1-gradient-low), var(--accent-2-gradient-low), transparent);
                transition-duration: 0.5s;
            }
    
            &.is-active {
                font-weight: 900;
                font-size: calc(var(--size--font-sm) + 1px);

                &::before {
                    width: 100%;
                }
            }
            &:hover {
                font-size: calc(var(--size--font-sm) + 1px);
                letter-spacing: 0;

                &::before {
                    width: 70% !important;
                }
            }
        }
    }

    &--tabs {
        tag-tab {
            padding: 30px;
        }
    }

    &--glance {
        header {
            min-height: 0;

            h1 {
                @include fluid-type(24, 78, 480, 1920);
                z-index: 1;

                i {
                    @include fluid-type(48, 96, 480, 1920);
                }
            }
            p {
                max-width: 400px;
                line-height: 160%;
                padding: 10px 15px;
                text-align: justify;
            }
        }
    }

    &--item {
        filter: var(--shadow--drop-primary);

        &-inner {
            clip-path: var(--style--cut-corners-small-alt);
            background: var(--bg--primary);
            padding: 10px 15px;
            display: grid;
            font-size: var(--size--font-xs);
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-weight: 600;
            line-height: 160%;
            gap: 5px;

            strong {
                font-size: var(--size--font-xl);
                text-transform: uppercase;
                font-weight: 900;
                color: var(--text--accent);
                letter-spacing: 0.05em;
                line-height: 160%;
                padding-bottom: 5px;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 50px;
                    height: 4px;
                    background: var(--bg--accent);
                    border-radius: 1.5px;
                }
            }

            .awards,
            .avoid {
                margin-top: 2px;
                padding: 10px;
                background: var(--bg--secondary);
                clip-path: var(--style--cut-corners-small);

                .scroll {
                    display: block;
                    max-height: 70px;
                }
            }
            .avoid {
                .scroll {
                    text-align: justify;
                }
            }
            .awards {
                .scroll {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;

                    img {
                        width: 22px;
                        height: 22px;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }
    }

    & ~ * {
        display: none;
    }
}